body {
    font-family: 'Raleway', sans-serif;
}

.none {
    display: none;
}

#pAlert {
    display: flex; 
    justify-content: center; 
    width: 320px; 
    position: fixed; 
    background-color: rgb(226, 198, 145); 
    border-radius: 5px; 
    box-shadow: 2px 2px 3px rgba(83, 83, 83, 0.705); 
    padding: 5px;
    margin: 0;
}

.imgAlert {
    width: 15px; 
    height: 15px; 
    margin-right: 10px;
}

#pNoCart {
    display: flex; 
    justify-content: center; 
    width: 180px; 
    position: fixed; 
    background-color: rgb(226, 198, 145);  
    border-radius: 5px; 
    box-shadow: 2px 2px 3px rgba(83, 83, 83, 0.705); 
    padding: 5px;
    margin: 0;
}

#apiContainer {
    display: grid; 
    grid-template-columns: 250px 600px 220px; 
    justify-content: space-around; 
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 0px;
}

#tittle {
    display: grid; 
    justify-items: center;
}

#imgTittle {
    margin-right: 20px;
}

#weatherContainer {
    display: grid; 
}

#weather {
    display: grid; 
    justify-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
    background-image: url(https://i.ibb.co/XpYCQS0/Cloud-ok.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#cartHeader {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
}

#imgCart {
    width: 30px; 
    margin: 10px;
}

#h2Cart {
    font-size: 25px; 
    margin: 10px;
}

#btnContainer {
    display: flex; 
    justify-content: center;
}

.btnCart {
    width: 80px;
    padding: 5px; 
    margin: 10px;
    background-color: rgb(224, 215, 196);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.473);
}

.btnCart:hover{
    transform: scale(1.1);
    transition: 200ms;
}

#cartDOM {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-top: 0px;
    margin-left: 50px;
}

#cart {
    list-style-image: url(https://i.ibb.co/WWG42pv/audio-track.png);
    background-color: rgb(241, 237, 227); 
    border-radius: 3px; 
    padding: 10px 15px 10px 30px ; 
    display: none; 
    box-shadow: 2px 2px 5px rgba(87, 87, 87, 0.678); 
    font-weight: bold; 
    margin-top: 30px;
}

.divCards {
    display: flex; 
    justify-content: space-around; 
    width: 1200px; 
    margin: 0 auto
}

.cardContainer {
    text-align: center; 
    padding: 20px; 
    margin: 20px;
}

.addButton {
    width: 80px;
    padding: 5px; 
    background-color: rgb(221, 206, 218);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.815);
    border: none;
}

.addButton:hover{
    transform: scale(1.1);
    transition: 200ms;
}

.products {
    border-radius: 8px; 
    padding: 30px; 
    margin: 30px 30px 80px 30px; 
    box-shadow: 2px 2px 6px rgba(51, 51, 51, 0.733);
}

.products.rock {
    background-image: url(https://i.ibb.co/QjhL4DH/rock.png);
    background-repeat: no-repeat ;
    background-size: cover;
}

.products.indie {
    background-image: url(https://i.ibb.co/3NhLL96/indie.png);
    background-repeat: no-repeat ;
    background-size: cover;
}

.products.metal {
    background-image: url(https://i.ibb.co/zZ4x1Vk/metal.png);
    background-repeat: no-repeat ;
    background-size: cover;
}

.footer {
    display: flex;
    background-color: rgb(228, 224, 217);
    justify-content: center;
    margin: 0px;
    border-radius: 8px;   
}